/* Remove margin between the top green block and the right grey block */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h2, h3, h4, li, p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
  
/* Header Block */
header {
    background-color: lightgreen;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .name-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    gap: 20px;
  }

  .name {
    font-size: 34px;
    font-weight: bold;
    margin: 0;
  }
  
  .position {
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin: 0;
  }
  
  /* Main Content */
  .main-content {
    display: flex;
    margin-top: 0px;
  }
  
  /* Left Column */
  .left-column {
    width: 33.33%;
    padding: 20px;
    background-color: #ffffff;
  }

  .left-column .block {
    margin-bottom: 20px;
  }
  
  .left-column h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .left-column p {
    font-size: 18px;
  }
  
  /* Right column (2/3 width with grey background) */
  .right-column {
    width: 67%;
    background-color: #e7e7e7; /* Light grey */
    padding: 20px; /* Add padding around text */
    margin-left: 20px; /* Add margin to the left side for text */
  }
  
  .right-column .block {
    margin-bottom: 20px;
  }
  
  .right-column h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .right-column li {
    font-size: 18px;
  }

  /* Work experience section */
  .experience {
    margin-bottom: 30px;
  }
  
  .experience h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .experience p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .experience h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .experience ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 20px;
  }
  
  .experience li {
    font-size: 18px;
    margin-bottom: 5px;
  }  